body,html{
  margin:0;
  padding:0;
}
.main{
  margin: 50px auto;
  width:370px;
  font-size:1.1em;
}
#calculate{
  width:70px;
  margin-left:62px;
}
span{
  color:red;
}
input, label{
  margin:5px 0;
  padding-left:5px;
  font-size:1em;
}
#width-validation-message, 
#height-validation-message{
  color:red;
  margin-left:62px;
  font-size:0.8em;
}
